<div class="container text-center">
  <div class="status" id="status">
  </div>
  <div class="link" id="link" onclick="copyLink()"></div>
  <div class="item title">Крестики  нолики
  </div>
  <div class="item">
      <button id="create">Создать игру</button>
  </div>

  <div id="board">
      <table>
          <tr id="row1">
              <td class="cell" id="0"></td>
              <td class="cell border-left-right" id="1"></td>
              <td class="cell" id="2"></td>
          </tr>
          <tr id="row2">
              <td class="cell border-top-bottom" id="3"></td>
              <td class="cell border-left-right border-top-bottom" id="4"></td>
              <td class="cell border-top-bottom" id="5"></td>
          </tr>
          <tr id="row3">
              <td class="cell" id="6"></td>
              <td class="cell border-left-right" id="7"></td>
              <td class="cell" id="8"></td>
          </tr>

      </table>
  </div>

  <div class="item" id="remake">
      <button>Ещё раз?</button>
  </div>
</div>